<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Facebook - Sign Up</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div class="container mt-5">

      <div class="row signup">

        <div class="col-lg-7">

        <img src="" alt="">
        <h1 class="logo pb-2">Facebook</h1>
        <h2 class="JavaFacebook mb-5">Facebook helps you connect and share <br> with people all over the world.</h2>
        </div>

        <div class="col-lg-5">

         <div class="shadow p-3 mb-5 bg-body rounded">

           <h3 class="">Sign Up</h3>
            <p class="mb-4">It's quick and easy.</p>

             <form action="" th:action="@{/saveUser}" th:object="${user}" method="post">
                 <p th:text="${error}" style="color: red"></p>
               <input class="form-control mb-3" type="text" th:field="*{fullName}" placeholder="Enter Name">
               <input class="form-control mb-3" type="email" th:field="*{email}" placeholder="Email Address">
               <input class="form-control" type="password" th:field="*{password}" placeholder="New Password">
               <div class="row mt-3">
                 <input type="datetime-local" th:field="*{dateOfBirth}" class="form-control">
               </div>
              <p class="mt-4">Gender</p>
              <div class="row">

                <div class="col-lg-6">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" th:field="*{gender}" value="male" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Male
                    </label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" th:field="*{gender}" value="female" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Female
                    </label>
                  </div>
                </div>

              </div>

               <div class="d-grid gap-2 mt-3">
                   <button type="submit" class="btn btn-green btn-lg">Register</button>

               <p class="text-center mt-3">Have an Account?</p>
               <div class="divider"></div>
               <a th:href="@{/index}" class="btn btn-primary btn-lg mt-3 mb-3">
                 Login </a>

               </div>
             </form>

         </div>

        </div>

      </div>

    </div>

  </body>
</html>
